@model Category

<div class="container d-flex justify-content-center align-self-lg-center w-50" style="width: 500px; border-radius: 15px; border:1px solid dodgerblue; color: black;">
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            <div class="d-flex">
                <div class="form-group mb-3 w-75">
                    <label for="name">Name</label>
                    <input type="text" class="form-control w-75" id="name" asp-for="Name" />
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <div class="form-group mb-3 ms-lg-1">
                    <label>Current Image:</label>
                    <br />
                    @if (!string.IsNullOrEmpty(Model.Icon))
                    {
                        <img src="~/admin/icons/categories/@Model.Icon" alt="@Model.Name" style="width: 100px;" />
                    }
                </div>
            </div>

            <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="showNewImageInput" onchange="toggleNewImageInput()">
                <label class="form-check-label" for="showNewImageInput">Upload New Image</label>
            </div>
            <div id="newImageInputDiv" class="d-none">
                <div class="form-group mb-3">
                    <label for="newImageFile">New Image File (optional)</label>
                    <input type="file" class="form-control-file custom-file-input" id="newImageFile" name="FormFile">
                    <label for="newImageFile" class="custom-file-label">Choose File</label>
                </div>

            </div>
@*             @if (string.IsNullOrEmpty(Model.Name))
            {
                <button asp-area="Admin" asp-controller="Category" asp-action="Update" asp-route-id="@Model.Id type="submiXt" class="btn btn-primary">Submit</button>
            } *@
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<script>
    function toggleNewImageInput() {
        const newImageInputDiv = document.getElementById("newImageInputDiv");
        newImageInputDiv.classList.toggle("d-none");
    }
</script>
