@model Category

<div class="container d-flex justify-content-center align-self-lg-center w-50" style="width: 500px; border-radius: 15px; border: 1px solid dodgerblue; color: black;">
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="Name" value="@Model.Name" />
                <span class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="currentImage" class="form-label">Current Image:</label>
                <br />
                @if (!string.IsNullOrEmpty(Model.Icon))
                {
                    <img src="~/admin/icons/categories/@Model.Icon" alt="@Model.Name" style="width: 100px;" />
                }
            </div>

            <div class="mb-3">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="showNewImageInput" onchange="toggleNewImageInput()">
                    <label class="form-check-label" for="showNewImageInput">Upload New Image</label>
                </div>
            </div>
            <div id="newImageInputDiv" class="mb-3 d-none">
                <label for="newImageFile" class="form-label">New Image File (optional)</label>
                <div class="input-group">
                    <input type="file" class="form-control custom-file-input " id="newImageFile" name="FormFile" onchange="updateFileLabel(this)">
                    <label for="newImageFile" class="custom-file-label">Choose File</label>
                </div>
            </div>



            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<script>
    function toggleNewImageInput() {
        const newImageInputDiv = document.getElementById("newImageInputDiv");
        newImageInputDiv.classList.toggle("d-none");
    }

    function updateFileLabel(input) {
        const label = input.nextElementSibling;
        const fileName = input.files[0].name;
        label.textContent = fileName;
    }
</script>